/*
Theme Name : Rebar
Author: Rebar Software Solutions
Author URI: rebar.ph
Version: 1.0
*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*****************************CSS RESET**************************/
html, body, div, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #FFFDF9;
	line-height: 1;
	height:auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
	height:10px;
}

/***********************************************Font Faces************************************************************/
@font-face {
    font-family: 'century-gothic';
    src: url(fonts/century-gothic.ttf);
    /*src: url(fonts/Lato-Regular.ttf);*/
}

@font-face {
    font-family: 'TheanoDidot';
    src: url(fonts/TheanoDidot-Regular.ttf);
    /*src: url(fonts/Lato-Light.ttf);*/
}

/*@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(//res.cloudinary.com/dhni16lxa/raw/upload/v1439518551/fonts/PlayfairDisplay-Regular.otf);
    /*src: url(fonts/PlayfairDisplay-Regular.otf);*/

/***************************Toggle Menu CSS****************************/
.toggle-nav{
	margin-right: -420px;
	right: 0;
	position: fixed;
	height: 100%;
	width: 300px;
	background-color: #691A40;
	z-index: 9999999999999;
	-webkit-transition :margin 0.2s linear;
	-moz-transition :margin 0.2s linear;
	-o-transition :margin 0.2s linear;
	transition :margin 0.2s linear;
}

@media only screen and (min-width:1005px) {
		.toggle-nav{ 
			display: none
		}
}

.toggle-btn {
	display: none;
	text-align: center;
	margin-top: 20px;
	margin-right: -15px;
	padding: 10px;
	width:40px;
	height:30px;
	float: right;
	/*border: 1px solid green;*/
	font-size: 25px;
	color: #691A40;
}
.toggle-btn:hover {
	color: #444;
	cursor: pointer;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.back-btn:hover {
	color: #fff;
	cursor: pointer;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.back-btn {
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 15px;
	margin-left: 15px;
	width:30px;
	height:30px;
	float: left;
	/*border: 1px solid #fff;*/
	font-size: 35px;
	color: #fff;
}

.toggle-nav-content{
	margin-top: 90px;
	height: auto;
	/*border: 2px solid yellow;*/
	margin-left: -30px;
}

.toggle-nav-content ul.toggle-navigation li{
	display: block;
	width: 100%;
	background-color: transparent;
}

.toggle-nav-content ul.toggle-navigation li a{
	text-decoration: none;
	display: block;
	padding: 10px 0 10px 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	display: block;
	width: 100%;
	background-color: transparent;
}

.toggle-nav-content ul.toggle-navigation li:hover a {
	color: #d8d8d8;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.toggle-nav-content ul.toggle-navigation li#contact {
	color: #fff;
}

.toggle-nav-content ul.toggle-navigation li#contact:hover a {
	color: #d8d8d8;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.toggle-nav-content ul.toggle-navigation li:hover:before {
	visibility: hidden
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

/*************************Navigation Bar***********************/
.header-content{
	position: fixed;
	display: block;
	background-color: #FFFDF9;
	width: 100%;
	/*border: 2px solid blue;*/
	height: 80px;
	z-index: 999999;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.header-container{
	display: block;
	margin: 0 auto;
	/*border: 1px solid red;*/
	width: 90%;
	height: 80px;
}

.nav-logo img{
	/*border: 1px solid red;*/
	margin-top:5px;
	margin-left: 4%;
	float:left;
	display:inline;
}

.header-nav{
	/*border: 1px solid green;*/
	margin-right: 30px;
	float:right;
	display: inline;
	width:70%;
	height:75px;
}

@media only screen and (max-width:1012px) {
    .header-nav {
        display: none !important;
    }

    .toggle-btn {
        display: block;
    }
}

.main-nav ul{
	float:right;
	margin-top:10px;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

ul li {
  display: inline-block;
  margin-right: -4px;
  margin-left: 60px;
  position: relative;
  padding: 10px 2px 15px 2px;
  background: #FFFDF9;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li a {
  color: #691A40;
  text-decoration: none;
  font-family: 'century-gothic';
  font-weight: 700 !important;
  font-size: 12px;
}

/*ul li a:hover {
  color: violet;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}*/

ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #691A40;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-duration: 0.4s !important;
  -moz-transition-duration: 0.4s !important;
  -o-transition-duration: 0.4s !important;
   transition-duration: 0.4s !important;
}

 body#unit a.unit, body#amenities a li#amenities,
 body#location a li#location, body#site a li#site, 
 body#price a li#price {
	color: #F55203;
}

li#contact a{
	color: #E39E00;
	font-weight: 700;
}

ul li.current-menu-item a {
  color: #F55203;
}

/*************************Content CSS***********************/
.page-content {
	display:block;
	/*border: 1px blue solid;*/
	width: 100%;
	height: auto;
	background-color: #FFFDF9;
	padding-bottom: 10px;
}

.main-content{
	display: block;
	background-color: #FFFDF9;
	width:100%;
	height: auto;
	overflow: hidden;
}

.cover-photo-home{
	margin-top: 80px !important;
	display:block;
	width: 100% !important;
	height:600px;
}

.cover-photo-page{
	margin-top: 80px !important;
	display:block;
	width: 100% !important;
	height:400px;
}

.cover-label-home{
	display:block;
	font-weight: 300;
	color: #fff;
	width:80%;
	height: auto;
	text-align: left;
	margin: 30px auto;
	padding-top: 220px;
	overflow: hidden;
    text-shadow: 2px 0px 3px rgba(53, 53, 53, 53);
}

@media only screen and (max-width:950px) {
	.cover-label-home{
	width:90%;
	padding-top: 190px;
	}
}

.cover-label-home h1.label-title{
	margin: 0;
	padding-bottom: 15px;
	font-family: 'TheanoDidot', serif;
	font-size: 61px;
	font-weight: 300;
	line-height: 40px;
}
.cover-label-home h3.label-desc{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding-bottom: 50px;
	line-height: 20px;
	font-size: 21px;
	font-weight: 300;
}
.cover-label-home a.button{
	opacity: 0.9;
	padding: 15px 30px;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'century-gothic';
	font-style: normal;
	font-weight: 400; 
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow: none;
	height: auto;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.cover-label-home a.button:hover{
	color: #000;
	background-color: #d8d8d8;
	opacity: 0.5;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

@media only screen and (max-width:1040px) {
	.cover-label-home h1.label-title{
	font-size: 55px;
	}
	.cover-label-home h3.label-desc{
	font-size: 18px;
	}
}

@media only screen and (max-width:845px) {
	.cover-label-home h1.label-title{
	font-size: 48px;
	}
	.cover-label-home h3.label-desc{
	font-size: 16px;
	}
}

@media only screen and (max-width:725px) {
	.cover-label-home h1.label-title{
	font-size: 45px;
	}
}

@media only screen and (max-width:680px) {
	.cover-label-home h1.label-title{
	font-size: 40px;
	}
}

@media only screen and (max-width:615px) {
	.cover-label-home h1.label-title{
	font-size: 37px;
	}
}

@media only screen and (max-width:565px) {
	.cover-label-home h1.label-title{
	font-size: 33px;
	}
	.cover-label-home h3.label-desc{
	font-size: 14px;
	}
}

@media only screen and (max-width:510px) {
	.cover-label-home h1.label-title{
	font-size: 30px;
	}
	.cover-label-home h3.label-desc{
	font-size: 14px;
	}
}

.hero-img-label{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 17px;
}

/*************************Index CSS*******************/
.content-desc{
	padding-top: 100px;
	/*border: 1px solid red;*/
	display: block;
	width: 650px;
	height: 250px;
	margin: 0 auto;
	text-align: center;
}
h4.slogan{
	color: #691A40;
	margin-bottom: -15px;
	font-family: 'century-gothic';
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
}
h2.description{
	font-family: 'TheanoDidot';
	font-size: 30px;
	font-weight: 300;
}
h3.information{
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 28px;
}

@media only screen and (max-width:730px) {
	.content-desc{
	width: 85%;
	height: auto;
	padding-bottom: 60px;
	}
	h2.description{
	line-height: 35px;
	}
}

.slide{
	background-color: #FDFCF8;
	vertical-align: top;
	margin-top: -10px;
	display: block;
	/*border: 2px solid red;*/
	width: 300px;
	height: auto;
	margin-bottom: 10px;
}

.slide-title{
	background-color: #691A40;
	display: block;
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 10px;
}

.slide-title h3{
	padding-left: 40px;
	padding-right: 40px;

}

h3.services{
	color: #fff;
	font-family: 'century-gothic';
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300;

}
h3.services-title{
	color: #fff;
	font-family: 'TheanoDidot';
	font-size: 24px;
	line-height: 25px;
	font-weight: 300;

}

.slide-img{
	background-color: #fff;
	display: block;
}

.slide-img img{
	width: 100%;
	height: auto;
}
.slide-desc{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	background-color: #FDFCF8;
	display: block;
	width: 100%;
	height: auto;
}
.slide-desc p{
	padding: 10px 40px;
}

.slide-learn{
	background-color: #E39E00;
	display: block;
	width: 100%;
	height: 60px;
}

.slide-learn a{
	padding: 0 20px;
	line-height: 60px;
	text-decoration: none;
	background-color: transparent;
	color: #fff;
	font-family: 'century-gothic';
	font-style: normal;
	font-weight: 700; 
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.slide-learn:hover a{
	color: #000;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.slider1{
	display: none;
}

.slider2{
	display: none;
}

@media only screen and (max-width:1000px) {
	.slider3{
		display: none;
	}

	.slider2{
		display: block;
	}
}

@media only screen and (max-width:675px) {
	.slider2{
		display: none;
	}

	.slider1{
		display: block;
	}
}

.events-container{
	margin: 0 auto;
	margin-bottom: 100px;
	text-align: center;
	display: block;
	/*border: 1px solid red;*/
	width: 80%;
	height: auto;
}

.events-img{
	vertical-align: top;
	margin: 0 auto;
	display: inline-block;
	/*border: 1px solid green;*/
	width: 500px;
	height: auto;
}

.events-img img{
	height: auto;
}

.events-desc{
	vertical-align: top;
	margin: 0 auto;
	display: inline-block;
	/*border: 1px solid blue;*/
	width: 380px;
	height: auto;
}

.events-desc-title{
	font-family: 'century-gothic';
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
}
.events-desc-info{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.events-desc-learn a{
	padding-top: 20px;
	text-decoration: none;
	color:  #E39E00;
	font-family: 'century-gothic';
	font-weight: 700; 
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.events-desc-learn:hover a{
	color: #000;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.events-div2{
	display: none;
}

.large-img{
	margin-bottom: -70px;
}

@media only screen and (max-width:1130px) {
	.events-container{
	width: 90%;
	}
}

@media only screen and (max-width:1000px) {
	.events-container{
	width: 100%;
	}
}

@media only screen and (max-width:945px) {
	.events-div1{
		display: none;
	}
	.events-div2{
		display: block;
	}

	.events-img{
	padding-bottom: 30px;	
	display: inline-block;
	/*border: 1px solid green;*/
	width: 500px;
	}
	.events-desc{
	padding-bottom: 30px;	
	display: inline-block;
	/*border: 1px solid blue;*/
	width: 70%;
	}
}

@media only screen and (max-width:800px) {
	.events-desc{
	width: 80%;
	}
}

@media only screen and (max-width:560px) {
	.small-img{
	display: none;
	}
	.large-img{
	margin-bottom: 0;
	}
	.events-img{
	width: 90%
	}
	.events-desc{
	width: 90%;
	}
	.events-img img{
	text-align: center;
	width: 100%;
	height: auto;
	}
	.events-container{
	width: 100%;
	}
}

.check-more{
	display: block;
	background-color: #F9F9F9;
	width: 100%;
	height: 100px;
}

.check-more-content{
	/*border: 1px solid green;*/
	display: block;
	margin: 0 auto;
	background-color: #F9F9F9;
	width: 70%;
	height: auto;
}

.check-more-content-text{
	/*border: 1px solid red;*/
	margin-top: 25px;
	vertical-align: top;
	display: inline-block;
	font-family: 'century-gothic';
	font-weight: 700;
	font-style: italic;
}

.check-more-content-btn{
	/*border: 1px solid blue;*/
	float: right;
	vertical-align: top;
	display: inline-block;
	margin: 0 auto;
	background-color: #F9F9F9;
}

.check-more-content-btn a.button{
	display: inline-block;
	margin-top: 25px;
	padding: 0 30px;
	text-decoration: none;
	background-color: transparent;
	border: 2px solid #691A40;
	color: #691A40;
	font-family: 'century-gothic';
	font-style: normal;
	font-weight: 700; 
	font-size: 14px;
	letter-spacing: 1px;
	text-shadow: none;
	height: 50px;
	line-height: 50px;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.check-more-content-btn a.button:hover{
	color: #fff;
	background-color: #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

@media only screen and (max-width:1060px) {
	.check-more-content{
	width: 80%;
	}
}

@media only screen and (max-width:860px) {
	.check-more-content{
	width: 90%;
	}
}

@media only screen and (max-width:730px) {
	.check-more{
	height: 200px;
	padding-top: 25px;
	}
	.check-more-content-text{
	text-align: center;
	display: block;
	}
	.check-more-content-btn{
	text-align: center;
	float: none;
	margin-left: 32%;
	}
}

@media only screen and (max-width:640px) {
	.check-more-content-btn{
	margin-left: 30%;
	}
}

@media only screen and (max-width:580px) {
	.check-more-content-btn{
	margin-left: 28%;
	}
}

@media only screen and (max-width:530px) {
	.check-more-content-btn{
	margin-left: 26%;
	}
}

@media only screen and (max-width:450px) {
	.check-more-content-btn{
	margin-left: 20%;
	}
}

@media only screen and (max-width:380px) {
	.check-more-content-btn{
	margin-left: 17%;
	}
}

@media only screen and (max-width:460px) {
	.check-more-content{
	width: 95%;
	}
	.check-more-content-text{
	font-size: 14px;
	}
}

.experts-container{
	display: block;
	text-align: center;
	margin: -30px auto 100px auto;
	/*border: 1px solid red;*/
	width: 80%;
	height: auto !important;
}

.experts{
	vertical-align: top;
	margin: 0 5px;
	display: inline-block;
	/*border: 1px solid green;*/
	width: 130px;
	height: auto;
}
.experts-img{
	/*border: 1px solid blue;*/
	width: 130px;
	height: 150px;
	overflow: hidden;
}
.experts-img img{
	width: 100%;
	height: auto;
}

.experts-img-overlay{
	display: block;
	position: relative;
	background-color: #691A40 !important;
	/*border: 1px solid yellow;*/
	width: 130px;
	height: 170px;
	margin-top: -15px;
	opacity: 0.7;
	padding-top: 110px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 15px;
	color: #fff;
	cursor: pointer;
	-webkit-transition :margin 0.4s linear;
	-moz-transition :margin 0.4s linear;
	-o-transition :margin 0.4s linear;
	transition :margin 0.4s linear;
}
a.overlay{
	text-decoration: none !important;
}

.overlay-hover{
	margin-top: -170px;
	-webkit-transition :margin 0.4s linear;
	-moz-transition :margin 0.4s linear;
	-o-transition :margin 0.4s linear;
	transition :margin 0.4s linear;
}

.experts-info{
	display: block;
	/*border: 1px solid blue;*/
	width: 130px;
	height: auto;
}
.experts-info h4{
	padding: 0;
	font-family: 'century-gothic';
	font-weight: 700;
	font-size: 14px;
}
.experts-info p{
	margin-top: -10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.partners-container{
	text-align: center;
	background-color: #F9F9F9;
	/*border: 1px solid blue;*/
	width: 100%;
	height: auto;
}
.partners{
	margin: 0 auto;
	text-align: center;
	/*border: 1px solid red;*/
	width: 60%;
	padding-bottom: 120px;
	padding-top: 40px;
}
.partners h3{
	color:#707070;
	font-family: 'century-gothic';
	font-weight: 700;
	font-size: 16px;
}
.partners img{
	padding: 10px;
}

.hero-img-quote{
	margin: 0 auto;
	padding-top: 100px;
	width: 60%;
	text-align: center;
	font-family: 'TheanoDidot';
	font-size: 24px;
	color: #fff;
	line-height: 38px;
}

p.quote-author{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

@media only screen and (max-width:850px) {
	.hero-img-quote{
	width: 80%;
	}
}

@media only screen and (max-width:570px) {
	.hero-img-quote{
	font-size: 20px;
	}
	p.quote-author{
	font-size: 16px;
	}
	.event-help h3{
	font-size: 25px;
	}
}

@media only screen and (max-width:450px) {
	.hero-img-quote{
	padding-top: 50px;
	}
}

@media only screen and (max-width:370px) {
	.hero-img-quote{
	width: 90%;
	}
}

@media only screen and (max-width:370px) {
	.hero-img-quote{
	font-size: 18px;
	}
	p.quote-author{
	font-size: 14px;
	}
}

.event-help{
	display: block;
	background-color: #691A40;
	width: 100%;
	height: 300px;
	padding-top: 20px;
}
.event-help h3{
	padding-top: 50px;
	display: block;
	text-align: center;
	color: #fff;
	font-family: 'TheanoDidot';
	font-size: 30px;
	font-weight: 400;
}

@media only screen and (max-width:570px) {
	.event-help h3{
	font-size: 25px;
	}
}
@media only screen and (max-width:340px) {
	.event-help h3{
	font-size: 22px;
	}
}
.event-help a{
	width: 150px;
	margin: 0 auto;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 20px 30px;
	font-family: 'century-gothic';
	color: #691A40;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: #fff;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.event-help a:hover{
	color: #000;
	background-color: #d8d8d8;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

/*************************Services CSS*******************/
.service-content{ 
	text-align: center;
	padding: 50px 20px;
	display: block;
	/*border: 2px solid red;*/
	margin: 0 auto;
	width: 60%;
	height: auto;
}
@media only screen and (max-width:1000px) {
	.service-content{ 
	width: 80%;
	}
}
@media only screen and (max-width:550px) {
	.service-content{ 
	width: 90%;
	}
}

.service-logo img{ 
	padding: 0;
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 100px;
	height: auto;
}
.service-title{ 
	padding: 0;
	display: block;
	/*border: 2px solid green;*/
	margin: 0 auto;
	width: 100%;
	font-family: 'TheanoDidot';
	font-size: 20px;
	color: #000;
}
.service-desc{ 
	padding: 0;
	display: block;
	/*border: 2px solid yellow;*/
	margin: 0 auto;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height:30px;
	color: #000;
}
.service-desc2{ 
	padding: 0;
	display: block;
	/*border: 2px solid yellow;*/
	margin: 0 auto;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height:30px;
	color: #691A40;
}
.service-desc3 a{ 
	text-decoration: none;
	/*border: 2px solid yellow;*/
	margin: 0 auto;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #E39E00;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.service-desc3 a:hover{ 
	color: #444;
	text-decoration: underline;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.see-more-content{
	display: block;
	width: 100%;
	height: 500px;
	/*border: 1px solid red;*/
}
.see-more-btn{
	color: #fff;
	text-align: center;
	float: right;
	position: relative;
	margin-top: 150px;
	margin-right: -100px; 
	width: 200px;
	border-radius: 100px;
	background-color: #E39E00;
	padding-top: 55px;
	padding-bottom: 55px;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.see-more-btn:hover{
	background-color: #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.see-more-btn h2{
	color: #fff;
	margin: 0;
	text-decoration: none;
	font-family: 'TheanoDidot';
	font-size: 27px;
	line-height: 30px;
	font-weight: 400;
	color: #fff !important;
}

.see-more-img1{
	float: left;
	display: inline-block;
	width: 50%;
	height: 500px;
}
.see-more-img2{
	float: right;
	display: inline-block;
	width: 50%;
	height: 500px;
}

/*************************Experience CSS*******************/
.experience-content{ 
	text-align: center;
	padding: 50px 10px;
	display: block;
	/*border: 2px solid red;*/
	margin: 0 auto;
	width: 75%;
	height: auto;
}
.experience-logo{ 
	text-align: center;
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.experience-title{ 
	text-align: center;
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.experience-title h2{ 
	margin: 20px 0 10px 0;
	font-family: 'TheanoDidot';
	font-weight: 400;
	font-size: 28px;
}
.experience-info{ 
	text-align: center;
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.experience-info h3{ 
	color: #691A40;
	margin: 0 0 40px 0;
	font-family: 'century-gothic';
	font-weight: 700;
	font-size: 16px;
}
.experience-slider{ 
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.experience-desc{ 
	text-align: left;
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #000;
}



/*************************Team CSS******************/
.team-content{ 
	text-align: center;
	padding: 50px 0;
	display: block;
	/*border: 2px solid red;*/
	margin: 0 auto;
	width: 70%;
	height: auto;
}
@media only screen and (max-width:1200px) {
	.team-content{ 
	width: 80%;
	}
}
@media only screen and (max-width:1050px) {
	.team-content{ 
	width: 90%;
	}
}
.team-img{ 
	vertical-align: top;
	display: inline-block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 30%;
	height: auto;
}
.team-desc{ 
	vertical-align: top;
	padding: 20px 0;
	display: inline-block;
	/*border: 2px solid green;*/
	margin: 0 auto;
	width: 65%;
	height: auto;
}
@media only screen and (max-width:950px) {
	.team-img{ 
	display: block;
	/*border: 2px solid blue;*/
	margin: 0 auto;
	width: 90%;
	}
	.team-desc{ 
	padding: 20px 0;
	display: block;
	/*border: 2px solid green;*/
	margin: 0 auto;
	width: 90%;
	}
}

.team-name{ 
	text-align: left;
	display: block;
	/*border: 2px solid red;*/
	width: 100%;
}

.team-name h3{
	margin: 0 0 10px 0;
	font-family: 'TheanoDidot';
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #000;
}

.team-title{ 
	text-align: left;
	display: block;
	/*border: 2px solid red;*/
	width: 100%;
}

.team-title h4{
	margin: 0;
	text-transform: uppercase;
	font-family: 'century-gothic';
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	color: #691A40;
}

.team-info{ 
	padding-top: 20px;
	text-align: left;
	display: block;
	/*border: 2px solid red;*/
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #000;
}

/*************************Contact us CSS***********************/
.contact-content{
	background-color: #691A40;
	height: auto;
	display:block;
	/*border: 1px solid blue;*/
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.contact-desc{
	float: left;
	margin: 7% 0 0 7%;
	color: #fff;
	height: auto;
	/*border: 1px solid blue;*/
	width: 40%;
	text-align: left;
}

@media only screen and (max-width:1100px) {
	.contact-desc{
	margin: 5% 0 0 5%;
	}
}

.contact-desc h3{
	font-family: 'TheanoDidot';
	font-size: 24px;
	font-weight: 400;
}

.contact-desc p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 25px;
}

@media only screen and (max-width:1050px) {
	.contact-desc h3{
	font-size: 22px;
	}
	.contact-desc p{
	font-size: 18px;
	}
}
@media only screen and (max-width:950px) {
	.contact-desc{
	margin: 3% 0 0 3%;
	width: 42%;
	}
}
@media only screen and (max-width:900px) {
	.contact-desc{
	margin: 3% 0 0 3%;
	width: 42%;
	}
	.contact-desc h3{
	font-size: 20px;
	}
	.contact-desc p{
	font-size: 16px;
	}
}

.contact-map2{
	text-align: center;
	display: none;
}
.contact-map2 img{
	width: 100%;
	height: auto;
}

.contact-map img{
	vertical-align: top;
	float: right;
	width: 50%;
	height: auto;
}

@media only screen and (max-width:810px) {
	.contact-map{
	display: none;
	}
	.contact-map2{
	display: none;
	display: block;
	}
	.contact-desc{
	float: none;
	margin: 10px auto;
	width: 330px;
	}
}

.form-contact{
	padding-top: 40px;
	padding-bottom: 60px;
	list-style: none;
	margin: 0 auto;
	background-color: #FFFDF9;
	width: 60%;
	height: auto;
	display: block;
	/*border: 1px solid blue;*/
}
@media only screen and (max-width:1050px) {
	.form-contact{
	width: 80%;
	}
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;.
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}

.wpcf7-form p{
	padding-top: 20px;
	font-family: 'TheanoDidot';
	font-size: 20px;
	color: #691A40;
}

.wpcf7-form [type=text]{
	padding-bottom: 5px;
	font-family: 'century-gothic';
	font-weight: 300;
	font-size: 16px;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #691A40;
	background-color: #FFFDF9;
}

.wpcf7-form [type=text]:hover{
	border-bottom: 2px solid #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form [type=text]:focus{
	border-bottom: 2px solid #691A40;
	outline: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form [type=email]{
	padding-bottom: 5px;
	font-family: 'century-gothic';
	font-weight: 300;
	font-size: 16px;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 1px solid #691A40;
	background-color: #FFFDF9;
}

.wpcf7-form [type=email]:hover{
	border-bottom: 2px solid #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form [type=email]:focus{ 
	border-bottom: 2px solid #691A40;
	outline: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form textarea{ 
	padding-bottom: 5px;
	padding-top: 15px;
	font-family: 'century-gothic';
	font-weight: 300;
	font-size: 16px;
	width: 100%;
	height: 200px;
	border: none;
	border-bottom: 1px solid #691A40;
	background-color: #FFFDF9;
}

.wpcf7-form textarea:hover{ 
	border-bottom: 2px solid #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}
.wpcf7-form textarea:focus{ 
	border-bottom: 2px solid #691A40;
	outline: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form [type=submit]{
	text-align: center;
	background-color: #d8d8d8;
	border: 2px solid #691A40;
	color:  #691A40;
	font-family: 'century-gothic';
	font-size: 14px;
	font-weight: 400;
	width: 200px;
	height: 50px;
	border: none;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

.wpcf7-form [type=submit]:hover{
	color: #fff;
	background-color: #691A40;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}

/***********************FOOTER MENU***************************/
.footer-content{
	background-color: #d8d8d8;
	display: block;
	width:100%;
	height: auto;
	overflow: hidden;
	margin-bottom: -10px;
}

.footer-credits{
	background-color: #d8d8d8;
	display: block;
	width:90%;
	height: auto;
	text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 70px;
}

.footer-address{
	/*border: 1px solid red;*/
	margin: 0 auto;
	display: inline-block;
	width: 34%;
	text-align: left;
	line-height: 23px;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.footer-contact{
	/*border: 1px solid red;*/
	margin: 0 auto;
	padding-left: 65px;
	display: inline-block;
	width: 20%;
	text-align: left;
	line-height: 23px;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.footer-mail{
	/*border: 1px solid red;*/
	margin: 0 auto;
	padding-left: 65px;
	display: inline-block;
	width: 22%;
	text-align: right;
	line-height: 23px;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
@media only screen and (max-width:1060px) {
	.footer-address{
	font-size: 13px;
	}
	.footer-contact{
		font-size: 13px;
	}
	.footer-mail{
		font-size: 13px;
	}
}
@media only screen and (max-width:930px) {
	.footer-address{
	font-size: 12px;
	}
	.footer-contact{
		font-size: 12px;
	}
	.footer-mail{
		font-size: 12px;
	}
}
@media only screen and (max-width:860px) {
	.footer-address{
		width: 95%;
		padding: 3px 0;
		display: block;
		font-size: 14px;
	}
	.footer-contact{
		width: 95%;
		padding:3px 0;
		display: block;
		font-size: 14px;
	}
	.footer-mail{
		width: 95%;
		padding:3px 0;
		display: block;
		text-align: left;
		font-size: 14px;
	}
}
/*@media only screen and (max-width:760px) {
	.footer-address{
		width: 50%;
	}
	.footer-contact{
		width: 50%;
	}
	.footer-mail{
		width: 50%;
	}
}
@media only screen and (max-width:690px) {
	.footer-address{
		width: 55%;
	}
	.footer-contact{
		width: 55%;
	}
	.footer-mail{
		width: 55%;
	}
}
@media only screen and (max-width:630px) {
	.footer-address{
		width: 60%;
	}
	.footer-contact{
		width: 60%;
	}
	.footer-mail{
		width: 60%;
	}
}
@media only screen and (max-width:575px) {
	.footer-address{
		width: 65%;
	}
	.footer-contact{
		width: 65%;
	}
	.footer-mail{
		width: 65%;
	}
}
@media only screen and (max-width:530px) {
	.footer-address{
		width: 75%;
	}
	.footer-contact{
		width: 75%;
	}
	.footer-mail{
		width: 75%;
	}
}
@media only screen and (max-width:465px) {
	.footer-address{
		width: 85%;
	}
	.footer-contact{
		width: 85%;
	}
	.footer-mail{
		width: 85%;
	}
}
@media only screen and (max-width:410px) {
	.footer-address{
		width: 95%;
	}
	.footer-contact{
		width: 95%;
	}
	.footer-mail{
		width: 95%;
	}
}
*/
@media only screen and (max-width:370px) {
	.footer-address{
		font-size: 12px;
		padding: 2px 0;
	}
	.footer-contact{
		font-size: 12px;
		padding: 2px 0;
	}
	.footer-mail{
		font-size: 12px;
		padding: 2px 0;
	}
}

/***********************Img Modal***************************/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.img-modal {
    width: 55%;
	position: relative;
	margin: 40px auto;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

@media only screen and (max-width:1250px) {
	.img-modal {
    width: 60%;
	margin: 30px auto;
	}
}

@media only screen and (max-width:1100px) {
	.img-modal {
    width: 65%;
	margin: 50px auto;
	}
}

@media only screen and (max-width:960px) {
	.img-modal {
    width: 70%;
	margin: 60px auto;
	}
}

@media only screen and (max-width:810px) {
	.img-modal {
    width: 75%;
	margin: 80px auto;
	}
}

@media only screen and (max-width:650px) {
	.img-modal {
    width: 80%;
	margin: 150px auto;
	}
}

@media only screen and (max-width:440px) {
	.img-modal {
    width: 85%;
	margin: 180px auto;
	}
}

.img-modal img{
    width: 100%;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { 
	background: #D13F17;
	-webkit-transition-duration: 0.5s !important;
	-moz-transition-duration: 0.5s !important;
	-o-transition-duration: 0.5s !important;
	transition-duration: 0.5s !important;
}